<div class="document">
        <div class="title">Liran Sharir</div>
        <div class="search-container">
            <input class="search" type="search" ng-model="query" placeholder="filter by year or description" aria-label="filter resume"/>
            <div class="tags">
                <span ng-if="tag.length !== 0" class="tag" ng-repeat="tag in $ctrl.tags track by $id(tag)">{{tag}}</span>
            </div>
        </div>
        <div class="contact">
            <span class="value">972-545222302</span>
        </div>
        <div class="contact">
            <span class="value">lsharir@gmail.com</span>
        </div>

        <div class="intro">
            I enjoy creating, learning and teaching new web technologies.
        </div>

        <category 
            category="category"
            subjects="$ctrl.data.subjectsByType[category.type]"
            ng-repeat="category in $ctrl.data.categories track by $index">
        </category>
    </div>