<div class="document">
    
    <resume-nav
        class="print-never"
        [revealOrder]="5"
        (navigate-out)="flipApp()">
    </resume-nav>

    <resume-header 
        [revealOrder]="1"
        [contactMethods]="contactMethods">
    </resume-header>

    <resume-search 
        [revealOrder]="2"
        [exampleTags]="exampleTags"
        (keywords)="changeKeywords($event.keywords)">
    </resume-search>

    <resume-no-results 
        [noResults]="!data.resultsFound">
    </resume-no-results>

    <category 
        [revealOrder]="5"
        [category]="category" 
        [subjects]="data.subjectsByType[category.type]" 
        *ngFor="let category of data.categories">
    </category>

    <avatar
        [revealOrder]="3"></avatar>

    <contact-details-methods
        [revealOrder]="4"
        [contactMethodsChangeEmitter]="filterResumeContactMethodsEmitter"
        [contactMethods]="contactMethods">
    </contact-details-methods>

    <resume-footer
        class="print-never"
        [revealOrder]="5">
    </resume-footer>
</div>