<div class="document">
    <i class="material-icons icon-corner-button print-button print-never"
        *ngIf="desktop"
        (click)="printDocument()">print</i>

    <i class="material-icons icon-corner-button code-button print-never"
        (click)="showCode()">code</i>

    <resume-header [contactMethods]="contactMethods"></resume-header>

    <resume-search 
        [exampleTags]="exampleTags"
        (keywords)="changeKeywords($event.keywords)"></resume-search>

    <resume-no-results [noResults]="!data.resultsFound"></resume-no-results>

    <category 
        [category]="category" 
        [subjects]="data.subjectsByType[category.type]" 
        *ngFor="let category of data.categories">
    </category>

    <contact-details-methods
        [contactMethodsChangeEmitter]="filterResumeContactMethodsEmitter"
        [contactMethods]="contactMethods">
    </contact-details-methods>
</div>