<div class="document">
    <i class="material-icons icon-corner-button print-button print-never"
        *ngIf="desktop"
        (click)="printDocument()">print</i>

    <i class="material-icons icon-corner-button code-button print-never"
        (click)="showCode()">code</i>

    <div class="name-header" (click)="prepareForPrint()">Liran Sharir</div>

    <print-contact-details [contactDetails]="contactMethods"></print-contact-details>

    <div class="intro-line-header">
        I enjoy creating, learning and teaching new web technologies
    </div>

    <resume-search 
        [exampleTags]="exampleTags"
        (keywords)="changeKeywords($event.keywords)"></resume-search>

    <div *ngIf="!data.resultsFound" class="no-results print-never">
        Try a different query &nbsp;<i class="material-icons">insert_emoticon</i>
    </div>

    <category 
        [category]="category" 
        [subjects]="data.subjectsByType[category.type]" 
        *ngFor="let category of data.categories">
    </category>

    <contact-details-methods
        [contactMethodsChangeEmitter]="filterResumeContactMethodsEmitter"
        [contactMethods]="contactMethods">
    </contact-details-methods>
</div>