.reveal-hidden {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translate3d(0, 100px, 0);
    opacity: 0;

    &.reveal-hidden-active {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}