.reveal-hidden {
    transform: translate3d(0, 25px, 0);
    opacity: 0;

    &.reveal-hidden-active {
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}