<div class="document">
    <i class="material-icons icon-corner-button print-button print-never"
        ng-if="::$ctrl.desktop"
        ng-click="$ctrl.printDocument()">print</i>

    <i class="material-icons icon-corner-button code-button print-never"
        ng-click="$ctrl.showCode()">code</i>

    <resume-header contact-methods="$ctrl.contactMethods"></resume-header>

    <resume-search 
        example-tags="$ctrl.exampleTags"
        keywords-emitter="$ctrl.changeKeywords(keywords)"></resume-search>

    <resume-no-results no-results="!$ctrl.data.resultsFound"></resume-no-results>

    <category 
        category="category" 
        subjects="$ctrl.data.subjectsByType[category.type]" 
        ng-repeat="category in $ctrl.data.categories track by $id(category)">
    </category>

    <contact-details-methods 
        contact-methods="$ctrl.contactMethods">
    </contact-details-methods>
</div>