@import '../../../../../shared/style/app.scss';

.subject-animation {
    position: relative;
    display: flex;
    flex-direction: column;
    will-change: max-height, opacity;
    box-sizing:border-box;
    max-height: $maximal-subject-height;

    &.ng-enter-prepare, &.ng-move-prepare, &.ng-enter, &.ng-move {
        transition: max-height 1s ease-in-out, 
                    opacity 1s cubic-bezier(1,0,.5,.5);
    }

    &.ng-leave {
        transition: max-height 1s ease-in-out, 
                    opacity 0.25s ease-in-out;
    }

    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter,
    &.ng-enter-prepare,
    &.ng-move-prepare {
        opacity: 0;
        max-height: 0;
    }

    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
        opacity:1;
        max-height: $maximal-subject-height;
    }
}

.no-results {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: $maximal-no-results-height;
    margin: 1rem 1rem;
    font-size: 1rem;
    color: $color-secondary;
    font-style: italic;

    &.ng-enter-prepare, &.ng-enter {
        transition: max-height 1s ease-in-out 2s,
                    margin 1s ease-in-out 2s,
                    opacity 1s cubic-bezier(1,0,.5,.5) 2s;
    }

    &.ng-leave {
        transition: max-height 1s ease-in-out, 
                    margin 1s ease-in-out,
                    opacity 0.25s ease-in-out;
    }

    &.ng-leave.ng-leave-active,
    &.ng-enter,
    &.ng-enter-prepare {
        opacity: 0;
        max-height: 0;
        margin: 0 1rem;
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
        opacity: 1;
        margin: 1rem 1rem;
        max-height: $maximal-no-results-height;
    }
}

.contact-data-wrapper {
    .contact-data-animation {
        will-change: max-width, max-height, opacity, margin;
        
        &.ng-enter-prepare, &.ng-move-prepare, &.ng-enter, &.ng-move {
            transition: max-width 1s ease-in-out,
                        max-height 1s ease-in-out, 
                        margin 1s ease-in-out, 
                        opacity 1s cubic-bezier(1,0,.5,.5);
        }

        &.ng-leave {
            transition: max-width 1s ease-in-out, 
                        max-height 1s ease-in-out, 
                        margin 1s ease-in-out, 
                        opacity 0.25s ease-in-out;
        }

        &.ng-leave.ng-leave-active,
        &.ng-move,
        &.ng-enter,
        &.ng-enter-prepare,
        &.ng-move-prepare {
            opacity: 0;
            max-width: 0;
            max-height: 0;
            margin: 0;
        }

        &.ng-leave,
        &.ng-move.ng-move-active,
        &.ng-enter.ng-enter-active {
            opacity:1;
            margin: 1rem;
            max-width: $maximal-contact-data-width;
            max-height: $maximal-contact-data-height;
        }
    }
}