<div class="document">
    <div class="title">Liran Sharir</div>

    <div class="intro">
        I enjoy creating, learning and teaching new web technologies
    </div>

    <div class="page-spanner">
        W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W W 
    </div>

    <div class="search-container">
        <div class="tags-wrapper" ng-click="$ctrl.focusOnInput()">
            <tag text="tag" active="true" ng-repeat="tag in $ctrl.selectedTags track by $id(tag, $index)" ng-click="$ctrl.removeSelectedTag($index)"></tag>
            <span class="input-wrapper">
                    <input
                    id="search"
                    class="search"
                    type="text"
                    ng-model="query"
                    ng-keydown="$ctrl.inputKeyDown($event)"
                    ng-style="{ 'width': $ctrl.inputWidth }"
                    ng-trim="false"
                    aria-label="filter resume"/>
                
                    <span class="fake-tag" ng-if="query.length !== 0" ng-bind="query"></span>
            </span>
        </div>
        <span class="search-placeholder material-icons" ng-if="query.length === 0 && $ctrl.selectedTags.length === 0">search</span>
    </div>
    <div class="tags-wrapper">
        <tag 
            text="tag.text" 
            active="tag.active" 
            ng-repeat="tag in $ctrl.defaultTags track by $index" 
            ng-click="$ctrl.toggleDefault(tag)">
        </tag>
    </div>

    <category 
        category="category" 
        subjects="$ctrl.data.subjectsByType[category.type]" 
        ng-repeat="category in $ctrl.data.categories track by $id(category)">
    </category>

    <div class="contact">
        <contact
            ng-click="$ctrl.contactToggle(cMethod)"
            contact-method="cMethod"
            ng-repeat="cMethod in $ctrl.contactMethods track by $id(cMethod)">
        </contact>
    </div>

    <div class="contact-data-wrapper count-{{contactResults.length}}" ng-class="{ 'minimized' : contactResults.length === 0 }">
        <span 
            class="contact-data"
            ng-repeat="cMethod in $ctrl.contactMethods | filter : $ctrl.contactMethodFilter as contactResults track by $id(cMethod)">
            {{:: cMethod.data }}
        </span>
    </div>
</div>