<div class="document">

    <resume-nav
        reveal-order="4"
        flip-app="$ctrl.flipApp()"
        class="print-never">
    </resume-nav>

    <resume-header 
        reveal-order="1"
        contact-methods="$ctrl.contactMethods"></resume-header>

    <resume-search 
        reveal-order="2"
        example-tags="$ctrl.exampleTags"
        keywords-emitter="$ctrl.changeKeywords(keywords)"></resume-search>

    <resume-no-results no-results="!$ctrl.data.resultsFound"></resume-no-results>

    <category 
        reveal-order="3"
        category="category" 
        subjects="$ctrl.data.subjectsByType[category.type]" 
        ng-repeat="category in $ctrl.data.categories track by $id(category)">
    </category>

    <contact-details-methods 
        reveal-order="4"
        contact-methods="$ctrl.contactMethods">
    </contact-details-methods>
</div>