<div class="resume-nav-container">
    <span class="resume-nav-button" 
        ng-click="$ctrl.showCode()">Code</span>
    <span class="resume-nav-button"
        ng-if="$ctrl.desktop"
        ng-click="$ctrl.printDocument()">Print</span>

    <span class="stretch"></span>

    <span class="resume-nav-button"
        ng-class="{ 'active': !$ctrl.loadingNg2 }">AngularJS</span>
    <span class="resume-nav-button" 
        ng-click="$ctrl.switchAngular()"
        ng-class="{ 'flashing' : $ctrl.loadingNg2 }">Angular2</span>
</div>