<div class="contact print-never">
    <i *ngFor="let contactMethod of contactMethods"
        (click)="contactToggle(contactMethod)"
        [ngClass]="{ 'toggled' : contactMethod.toggled || contactMethod.filtered }"
        class="material-icons contact-button">
        {{ contactMethod.icon }}
    </i>
</div>

<div class="contact-data-wrapper print-never" [class.minimized]="noContactMethodSelected">
    <template ngFor let-contactMethod [ngForOf]="contactMethods">
        <span 
            [@inOut]="'in'"
            *ngIf="contactMethod.toggled || contactMethod.filtered"
            class="contact-data">
            <a [attr.id]="'contact-method-' + contactMethod.icon" [href]="contactMethod.href">{{ contactMethod.data }}</a>
            <i initClipboard [attr.data-clipboard-target]="'#contact-method-' + contactMethod.icon"
                class="material-icons contact-copy">content_copy</i>
        </span>
    </template>
</div>