<div class="contact print-never">
    <i *ngFor="let contactMethod of contactMethods"
        (click)="contactToggle(contactMethod)"
        [ngClass]="{ 'toggled' : contactMethod.toggled || contactMethod.filtered }"
        class="material-icons contact-button">
        {{ contactMethod.icon }}
    </i>
</div>

<div class="contact-data-wrapper print-never" [class.minimized]="noContactMethodSelected">
    <template ngFor let-contactMethod [ngForOf]="contactMethods">
        <span 
            [@inOut]="'in'"
            *ngIf="contactMethod.toggled || contactMethod.filtered"
            class="contact-data">
            {{ contactMethod.data }}
        </span>
    </template>
</div>