
$color-secondary: #666;
$color-primary: #333;

$bg-back: #f2f2f2;
$bg-paper: #fff;

$md-grey-idle: #9E9E9E;
$md-grey-hover: #424242;
$md-grey-active: #212121;

$tag-bg-0: #66BB6A;
$tag-bg-1: #29B6F6;
$tag-bg-2: #FF7043;
$tag-bg-3: #FFD54F;
$tag-inactive: rgba(0,0,0,0.125);

$tag-colors: $tag-bg-0, $tag-bg-1, $tag-bg-2, $tag-bg-3;

$font-family: 'Lato', Helvetica, sans-serif;
$font-console: Monaco, Menlo, Consolas, "Droid Sans Mono", "Inconsolata", "Courier New", monospace;

$media-query-iphone: 26.5rem;
$media-query-better-phones: 37.5rem;

$duration-short: 0.2s;
$duration-shorter: 0.1s;

$category-title-font-size: 1.5rem;
$category-title-font-size-smaller: 1rem;

$subtext-size: 1rem;
$subtext-size-smaller: 0.875rem;

$hint-size: 0.75rem;

$header-size: 1rem;
$header-size-smaller: 0.875rem;

$avatar-size: 10rem;
$avatar-small-size: 8rem;
$avatar-small-iphone-size: 6rem;

// Animations related constants, should match animations.ts config
// All manual checks are to ensure animations fluidity
// ########################
$maximal-category-title-height: 2.0625rem; // This is checked manually
$category-title-margin: 0.75rem 0;
$category-title-margin-print: 0.25rem 0;

$maximal-subject-height: 17rem; // This is checked manually

$maximal-contact-data-width: 9rem; // This is checked manually
$maximal-contact-data-height: 1.375rem; // This is checked manually
$contact-data-margin: 1rem;

$maximal-no-results-height: 1.5rem; // This is checked manually
// #########################

$tag-margin-top-bottom: 0.25rem;
$tag-margin-left-right: 0.125rem;
$tag-margin: $tag-margin-top-bottom $tag-margin-left-right;
$tag-padding: 0.25rem 0.5rem;
$tag-padding-small: 0.125rem 0.25rem;

@mixin tag-font-sizing() {
    font-size: 1rem;

    @media (max-width: $media-query-better-phones) {
        & {
            font-size: 0.75rem;
        }
    }
}

.tag-appearance {
    @include tag-font-sizing();
    display: inline-flex;
    align-items: center;
    margin: $tag-margin;
    padding: $tag-padding;
    transition: background $duration-short ease-out;
    background: $tag-inactive;
    border-radius: 1rem;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    @for $i from 1 through length($tag-colors) {
        &.tag-color-#{$i - 1} {
            background: nth($tag-colors, $i);
        }
    }

    &:after {
        font-size: 0.5rem;
        font-family: 'Material Icons';
        background: rgba(0,0,0,0.125);
        border-radius: 100px;
        padding: 0.125rem;
        margin: 0 0 0 0.25rem;

        text-rendering: optimizeLegibility;
        font-feature-settings: "liga" 1;
        font-style: normal;
        text-transform: none;
        line-height: 1;
        overflow: hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &.active:after {
        content: 'close';
    }

    &.inactive:after {
        content: 'add';
    }
}