@import './_shared.scss';

html {
    transition: background 0.5 ease-out;
    background: $bg-back;
}

body {
    margin: 1rem;
    font-family: $font-family;
    color: $color-primary;
}

@media (max-width: 37.5rem) {
    body {
        margin: 0.5rem;
    }
}

/* Media queries for print mode */

.print-only {
    display: none;
}

@media print {
    .print-never {
        display: none !important;
    }

    .print-only {
        display: inherit;
    }
}

/* Style of general components and elements within the app */

.document {
    display: flex;
    position: relative;
    flex-flow: column;
    margin: auto;
    text-align:initial;
    max-width: 62.5rem;
    position: relative;
    padding: 2rem;
    background: $bg-paper;
}

.icon-corner-button {
    position: absolute;
    padding: 2rem;
    color: #aaa;
    transition: opacity $duration-short ease-out;
    will-change: opacity;
    opacity: 0.25;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &.code-button {
        top: 0;
        left: 0;
    }

    &.print-button {
        top: 0;
        right: 0;
    }
}

/* Media query particular for narrow screens
    for devices with narrow screens (600px with font-size: 16px) */

@media (max-width: 37.5rem) {
  .document {
    padding: 1rem;
  }

  .print-button, .code-button { 
      padding: 1rem;
  }
}