@import './_shared.scss';

* {
    font-family: $font-family;
    color: $color-primary;
}

html {
    background: $bg-back;
}

/* Media queries for print mode */

.print-only {
    display: none;
}

@media print {
    .print-never {
        display: none !important;
    }

    .print-only {
        display: inherit;
    }
}

/* Style of general components and elements within the app */

body {
    margin: 1rem;
    padding: 0;
}

.document {
    display: flex;
    flex-flow: column;
    margin: auto;
    text-align:initial;
    max-width: 62.5rem;
    position: relative;
    padding: 2rem;
    background: $bg-paper;
    box-shadow: 0 2.5px 12.5px -2.5px rgba(0, 0, 0, 0.5);
}

.icon-corner-button {
    position: absolute;
    padding: 2rem;
    transition: opacity $duration-short ease-out;
    will-change: opacity;
    opacity: 0.25;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &.code-button {
        top: 0;
        left: 0;
    }

    &.print-button {
        top: 0;
        right: 0;
    }
}

/* Media query particular for narrow screens
    for devices with narrow screens (600px with font-size: 16px) */

@media (max-width: 37.5rem) {
  body {
      margin: 0.5rem;
  }

  .document {
    padding: 1rem;
  }

  .print-button, .code-button { 
      padding: 1rem;
  }
}

.no-results {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: $maximal-no-results-height;
    margin: 1rem 1rem;
    font-size: 1rem;
    color: $color-secondary;
    font-style: italic;
}