@import '_shared';

.category-title {
    font-size: $category-title-font-size;
    text-transform: uppercase;
    font-weight: 300;
    margin: $category-title-margin;

    @media (max-width: $media-query-iphone) {
        & {
            font-size: $category-title-font-size-smaller;
        }
    }

    @media print {
        margin : $category-title-margin-print;
    }
}

.category-title-animation {
    will-change: opacity, max-height, margin;
}