@import '_shared';

.resume-header-name {
    text-align: center;
    font-weight: 400;
    font-family: $font-family;
    font-size: 4rem;
    line-height: 0.75;
    margin: 1.5rem 0 1rem 0;

    @media (max-width: $media-query-better-phones) {
        & {
            font-size: 2.75rem;
            margin: 1.25rem 0 0.75rem 0;
        }
    }

    @media (max-width: $media-query-iphone) {
        & {
            font-size: 2rem;
            margin: 1rem 0 0.5rem 0;
        }
    }
}

.resume-header-intro {
    font-weight: 300;
    margin: 1rem 0;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    color: $color-secondary;

    & > span {
        white-space: nowrap;
        margin: 0 0.5rem;
    }

    @media (max-width: $media-query-better-phones) {
        & {
            font-size: 1rem;
            margin: 0.75rem 0;
        }
    }

    @media (max-width: $media-query-iphone) {
        & {
            font-size: 0.7rem;
            margin: 0.5rem 0;
        }
    }
}