@import '_shared';

.resume-header-name {
    text-align: center;
    font-weight: 300;
    font-family: $lato;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

@media (max-width: 37.5rem) {
  .resume-header-name {
    font-size: 2rem;
  }
}

.resume-header-intro {
    font-style: italic;
    margin: 1rem;
    font-size: $header-size;
    text-align: center;
    color: $color-secondary;

    @media (max-width: $media-query-iphone) {
        & {
            font-size: $header-size-smaller;
            margin: 0.5rem;
        }
    }
}