@import '_shared';

.resume-nav-container {
    display: flex;
    align-items: center;

    .stretch {
        flex-grow: 1;
    }
}

.button-icon { 
    color: $md-grey-idle;
    will-change: color;
    transition: color $duration-short ease-out;
    cursor: pointer;

    &:hover {
        color: $md-grey-hover;
    }

    &:active {
        color: $md-grey-active;
    }
}

.switch-angular {
    margin-left: 1rem;
    display: flex;

    .switch-button {
        padding: 0.5rem;
        font-family: $lato;
        font-size: 0.75rem;
        color: $md-grey-idle;
        cursor: pointer;
        will-change: color;
        transition: color $duration-shorter ease-out;

        &:hover {
            color: $md-grey-hover;
        }

        &.active {
            color: $md-grey-active;
            cursor: default;
        }

        &:active {
            color: $md-grey-active
        }
    }
}