@import '_shared';

.no-results {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: $maximal-no-results-height;
    margin: 1rem 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;

    @media (max-width: $media-query-better-phones) {
        & {
            font-size: 0.75rem;
        }
    }
}