@import '_shared';

.subject-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .subject-years {
        font-size: $hint-size;
        white-space: nowrap;
        color: $color-secondary;
    }

    .subject-title {
        font-size: 1.25rem;
        font-weight: 700;

        @media (max-width: $media-query-iphone) {
            & {
                font-size: $header-size-smaller;
            }
        }
    }
}

.subject-description-wrapper {
    margin: 0.5rem 0;
    font-size: $subtext-size;

    @media (max-width: $media-query-iphone) {
        & {
            font-size: $subtext-size-smaller;
        }
    }

    @media print {
        margin: 0.25rem 0;
    }
}

.subject-links-wrapper {
    margin: 0.5rem 0;
    font-size: $subtext-size;

    @media (max-width: $media-query-iphone) {
        & {
            font-size: $subtext-size-smaller;
        }
    }

    a.subject-link {
        margin: 0.25rem;
        color: $color-secondary;
    }
}