
$color-secondary: #666;
$color-primary: #333;

$tag-bg: #73d2ff;

$font-family: 'Open Sans';
$font-sans: 'Lato';

$category-title-font-size: 1.5rem;
$maximal-category-title-height: 33px; // This is checked manually

$subtext-size: 1rem;
$hint-size: 0.75rem;
$header-size: 1rem;

$maximal-subject-height: 222px; // This is checked manually

$maximal-contact-data-width: 150px; // This is checked manually
$maximal-contact-data-height: 22px;

$tag-margin-top-bottom: 0.25rem;
$tag-margin-left-right: 0.125rem;
$tag-margin: $tag-margin-top-bottom $tag-margin-left-right;
$tag-padding: 0.25rem 0.5rem;

.tag-appearance {
    margin: $tag-margin;
    background: $tag-bg;
    padding: $tag-padding;
    display: inline-block;
    font-size: 1rem;
    border-radius: 1rem;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:after {
        font-size: 0.5rem;
        font-family: 'Material Icons';
        background: rgba(0,0,0,0.125);
        border-radius: 100px;
        padding: 0.125rem;
        margin: 0 0 0 0.25rem;
        top: 5px;
        position: relative;
        float: right;

        text-rendering: optimizeLegibility;
        font-feature-settings: "liga" 1;
        font-style: normal;
        text-transform: none;
        line-height: 1;
        overflow: hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &.active:after {
        content: 'close';
    }

    &.inactive:after {
        content: 'add';
    }
}