@import '_constants';

* {
    font-family: $font-family;
    color: $color-primary;
}

.document {
    margin: 1rem;
    padding: 2rem;
    background: ghostwhite;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.25);
}

.title {
    text-align: center;
    font-weight: 300;
    font-family: $font-sans;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro {
    font-style: italic;
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
    color: $color-secondary;
}

.contact {
    text-align: center;
    margin-top: 1rem;
    i {
        font-size: 2rem;
        margin: 1rem;
    }
}

.search-container {
    background: white;
    cursor: text;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    margin: 0.5rem 0rem;
    &:first-child {
        margin-left: 0.25rem;
    }
}

input[type="text"].search {
    border: none;
    box-shadow: none;
    background: transparent;
    outline: none;
    font-size: 1rem;
    min-width: 3rem;
    margin: 0;
    padding: $tag-padding;
    z-index: 2;
}

.fake-tag {
    @extend .tag-appearance;
    margin: 0;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    pointer-events: none;
}

.tags-wrapper {
    padding: 0.25rem;
}

.subject-animation {
    transition: all 1s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    will-change: max-height, opacity;
    box-sizing:border-box;
        max-height: $maximal-subject-height;

    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
        opacity:0;
        max-height: 0;

    
    }

    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
        opacity:1;
        max-height: $maximal-subject-height;

        
    }
}