@import '_constants';

* {
    font-family: $font-family;
    color: $color-primary;
}

html {
    background: $bg-back;
}

body {
    margin: 0;
    padding: 0;
    text-align:center;
}

.print-only {
    display: none;
}

@media print {
    .print-never {
        display: none !important;
    }

    .print-only {
        display: inherit;
    }
}

.document {
    margin: 1rem;
    display:inline-block;
    text-align:initial;
    max-width: 62.5rem;
    position: relative;
    padding: 2rem;
    background: $bg-paper;
    box-shadow: 0 2.5px 12.5px -2.5px rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
    font-weight: 300;
    font-family: $font-sans;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.print-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    transition: opacity $duration-short ease-out;
    will-change: opacity;
    opacity: 0.25;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

@media (max-width: 37.5rem) { // for devices with narrow screens (600px with font-size: 16px)
  .document {
    margin: 0.5rem;
    padding: 1rem;
  }
  
  .title {
    font-size: 2rem;
  }

  .print-button { 
      padding: 1rem;
  }
}

.page-spanner {
    line-height: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.intro {
    font-style: italic;
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
    color: $color-secondary;
}

.contact {
    text-align: center;
    margin-top: 1rem;
    i {
        font-size: 2rem;
        margin: 1rem;
    }
}

$search-container-size: $tag-margin-top-bottom;

.search-container {
    background: white;
    transition: border-color $duration-short ease-out;
    will-change: border-color;
    cursor: text;
    border: 1px solid #ddd;
    position: relative;

    .search-placeholder {
        position: absolute;
        right: 0;
        top: 0;
        margin: (2*$tag-margin-top-bottom + 2*$tag-margin-left-right);
        color: #aaa;
    }

    &.focused {
        border-color: $tag-bg-1;
    }

    &:hover:not(.focused) {
        border-color: #aaa;
    }
}

.input-wrapper {
    position: relative;
    display: inline-block;
    margin: $search-container-size 0;
    &:first-child {
        margin-left: $tag-margin-left-right;
    }
    &:not(:first-child) {
        margin-left: -$tag-margin-left-right;
    }

}

input[type="text"].search {
    border: none;
    box-shadow: none;
    background: transparent;
    outline: none;
    font-size: 1rem;
    min-width: 3rem;
    margin: 0;
    padding: $tag-padding;
    z-index: 2;
}

.fake-tag {
    @extend .tag-appearance;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    
    &.ng-leave, &.ng-leave-prepare { // This is to prevent the lingering of the fake-tag due to existing transitions
        transition: none;
    }
}

.tags-wrapper {
    padding: 0.25rem;
}

.tags-examples {
    text-align: center;
}

.subject-animation {
    position: relative;
    display: flex;
    flex-direction: column;
    will-change: max-height, opacity;
    box-sizing:border-box;
    max-height: $maximal-subject-height;

    &.ng-enter-prepare, &.ng-move-prepare, &.ng-enter, &.ng-move {
        transition: max-height 1s ease-in-out, 
                    opacity 1s cubic-bezier(1,0,.5,.5);
    }

    &.ng-leave {
        transition: max-height 1s ease-in-out, 
                    opacity 0.25s ease-in-out;
    }

    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter,
    &.ng-enter-prepare,
    &.ng-move-prepare {
        opacity: 0;
        max-height: 0;
    }

    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
        opacity:1;
        max-height: $maximal-subject-height;
    }
}

@media (max-width: 23.75rem) {
    .contact-data-wrapper.count-2 {
        max-height: 6.75rem;
    }
}

.no-results {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: $maximal-no-results-height;
    margin: 1rem 1rem;
    font-size: 1rem;
    color: $color-secondary;
    font-style: italic;

    &.ng-enter-prepare, &.ng-enter {
        transition: max-height 1s ease-in-out 2s,
                    margin 1s ease-in-out 2s,
                    opacity 1s cubic-bezier(1,0,.5,.5) 2s;
    }

    &.ng-leave {
        transition: max-height 1s ease-in-out, 
                    margin 1s ease-in-out,
                    opacity 0.25s ease-in-out;
    }

    &.ng-leave.ng-leave-active,
    &.ng-enter,
    &.ng-enter-prepare {
        opacity: 0;
        max-height: 0;
        margin: 0 1rem;
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
        opacity: 1;
        margin: 1rem 1rem;
        max-height: $maximal-no-results-height;
    }
}

.contact-data-wrapper {
    text-align: center;
    transition: max-height 1s ease-in-out;
    will-change: max-height;
    max-height: 3.375rem;

    &.minimized {
        max-height: 0;
    }

    .contact-data {
        margin: 1rem;
        display: inline-block;
        white-space: nowrap;
        will-change: max-width, max-height, opacity, margin;
        max-width: $maximal-contact-data-width;
        max-height: $maximal-contact-data-height;

        &.ng-enter-prepare, &.ng-move-prepare, &.ng-enter, &.ng-move {
            transition: max-width 1s ease-in-out,
                        max-height 1s ease-in-out, 
                        margin 1s ease-in-out, 
                        opacity 1s cubic-bezier(1,0,.5,.5);
        }

        &.ng-leave {
            transition: max-width 1s ease-in-out, 
                        max-height 1s ease-in-out, 
                        margin 1s ease-in-out, 
                        opacity 0.25s ease-in-out;
        }

        &.ng-leave.ng-leave-active,
        &.ng-move,
        &.ng-enter,
        &.ng-enter-prepare,
        &.ng-move-prepare {
            opacity: 0;
            max-width: 0;
            max-height: 0;
            margin: 0;
        }

        &.ng-leave,
        &.ng-move.ng-move-active,
        &.ng-enter.ng-enter-active {
            opacity:1;
            margin: 1rem;
            max-width: $maximal-contact-data-width;
            max-height: $maximal-contact-data-height;
        }
    }
}