@import '_constants';

* {
    font-family: $font-family;
    color: $color-primary;
}

.document {
    margin: 1rem;
    padding: 2rem;
    background: ghostwhite;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.25);
}

.title {
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.intro {
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    color: $color-secondary;
}

.contact {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact > i {
    margin: 1rem;
    color: rgba(0,0,0,0.5);
}

.contact > .value {
}

.search-container {
    text-align: center;

    input[type="search"].search {
        border: none;
        padding: 1rem;
        font-size: 1rem;
        box-shadow: none;
        min-width: 16rem;
        outline: none;
    }

    .tags { 
        margin: 1rem;
    }

    .tag {
        margin: 0.5rem;
        padding: 0.25rem 0.5rem;
        background: palegreen;

    }
}