@import '_constants';

.subject-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .subject-years {
        font-size: 0.75rem;
        white-space: nowrap;
        color: $color-secondary;
    }

    .subject-title {
        margin: 0.5rem;
    }
}

.subject-description-wrapper {
    margin: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

.subject-links-wrapper {
    margin: 0.5rem;
    font-size: 0.75rem;
    a.subject-link {
        margin: 0.25rem;
        color: $color-secondary;
    }
}

