@import '_constants';

$subject-displacement: 0rem;

.subject-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .subject-years {
        font-size: $hint-size;
        white-space: nowrap;
        color: $color-secondary;
    }

    .subject-title {
        margin: 0.5rem $subject-displacement;
        font-size: $header-size;
        font-weight: 700;
    }
}

.subject-description-wrapper {
    margin: 0.25rem $subject-displacement;
    font-size: $subtext-size;
}

.subject-links-wrapper {
    margin: 0.5rem $subject-displacement;
    font-size: $subtext-size;
    a.subject-link {
        margin: 0.25rem;
        color: $color-secondary;
    }
}

